<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145549845790-62br8kkkvljjfkt4v08k8koj4v0agcqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145549845790-62br8kkkvljjfkt4v08k8koj4v0agcqr</string>
	<key>API_KEY</key>
	<string>AIzaSyDbkOYzQRreiNoI1y1jEeH2Bjl_KMxICHY</string>
	<key>GCM_SENDER_ID</key>
	<string>145549845790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaroncleveland.Destination</string>
	<key>PROJECT_ID</key>
	<string>destination-5c023</string>
	<key>STORAGE_BUCKET</key>
	<string>destination-5c023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145549845790:ios:dde67e3e90d41de372950f</string>
</dict>
</plist>