<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897207250334-mf36ro289bjf3v4k7k5tg558k5dso31v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897207250334-mf36ro289bjf3v4k7k5tg558k5dso31v</string>
	<key>API_KEY</key>
	<string>AIzaSyCy179pCTgeNwEV5KLZyRVtS2J2VTlC0io</string>
	<key>GCM_SENDER_ID</key>
	<string>897207250334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaroncleveland.FlightScope</string>
	<key>PROJECT_ID</key>
	<string>destination-74081</string>
	<key>STORAGE_BUCKET</key>
	<string>destination-74081.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897207250334:ios:3300bdd0996136051a3a8f</string>
</dict>
</plist>